.white-text > * {
  color: white !important;
}

.reveal .progress span {
  background-color: #F1C40F
}

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #F1C40F;
}

.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #F1C40F;
}

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #F1C40F;
}

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #F1C40F;
}
